.dashboard-event-comment {
  margin-top: 20px;
  width: 100%;
  min-height: 88px;
  background: #F7F6F3;
  border-radius: 10px;
  padding: 20px 30px;
  box-sizing: border-box;
  > .app-component-text {
    width: 100%;
    line-height: 24px;
    font-size: var(--paragraph-2);
    color: var(--primary-text-color);
  }
}
