@import 'src/service/style/media.scss';

.dashboard-header {
  padding: 40px 30px 0 30px;
  background: var(--primary-color);
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  box-shadow: 0px 2px 16px rgba(52,52,52,0.08);

  > .app-component-tabs {
    max-width: 371px;
    display: flex;
    justify-content:space-between;
    > .app-component-tab {
      margin: 0 auto;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media screen and (max-width: $breakpoint-xs) {
    padding: 40px 10px 0 10px;
    > .app-component-tabs {
      > .app-component-tab {
        > .app-component-text {
          font-size: var(--paragraph-2);
        }
      }
    }
  }
}
